body{
    scroll-behavior: smooth;
    background-color: #1d2632;
}

h1{
    color: #ffff;
}

h2{
    color: #ffff;
}

h4{
    color: #ffff;
}

h3{
    color: #ffff;
}

p{
    color: #ffff;
}

#mobile_game:hover{
    cursor: pointer;
}

#whyIHaveCreatedThisBlog{
    margin-left: 40%;
    margin-right: 40%;
}

.myUL a{
    font-size: 20px;
}